#course_slide_header {
	margin-top: 15px;
	padding: 75px 0 75px;
	text-align: center;
	box-shadow: 0 2px 24px rgba(168, 175, 196, .5);
}

#course_slide_header h1 {
	background: #212020;
	display: inline-block;
	color: #fff;
	padding: 4px 20px;
	font-size: 45px;
}

#course_main_block {
	margin-bottom: 60px;
	background: #eee;
}

#course_order_btn {
	display: inline-block;
	text-decoration: none;
	background: transparent;
	padding: 8px 15px;
	border-radius:  10px;
	color: #fff;
	border: 1px solid #ddd;
	transition: .2s ease-in-out;

	transition: .2s ease-in-out;
	box-shadow: -2px 3px 18px 0px rgba(255,255,255,1) inset;
	
}

#course_order_btn:hover {
	transform: translateY(-5px);
box-shadow: -2px 3px 18px 0px rgba(255,255,255,1);	
}

.course_header_items {
	margin: 30px 0 10px 0;
	box-shadow: 2px 2px 20px rgba(0,0,0,.05);
	background: #eee;
	padding: 20px 0;
	text-align: center;
	cursor: pointer;
	border-radius: 10px;
	color: #213246;
	font-weight: 600;
	background: #213246;
	color: #fff;
	transition: all .4s;
}

.course_header_items:hover {
	transition: all .3s;
	transform: translateY(-10px);
	background: #12c2e9;  
	background: -webkit-linear-gradient(to right, #f64f59, #c471ed, #12c2e9);
	background: linear-gradient(to right, #f64f59, #c471ed, #12c2e9); 
}

#course_title_program {
	text-align: center;
	font-size: 40px;
	margin: 40px 0 50px 0;
}

.course_prog_item {
	box-shadow: 0 2px 24px rgba(168, 175, 196, 0.5);
	padding: 20px 20px 10px 20px;
	margin: 0 0 15px 0;
	background: #fff;
	cursor: pointer;
	height: auto;
	overflow: hidden;

	-moz-user-select: none;
	-khtml-user-select: none;
	user-select: none;  

	-webkit-transition: all .1s ease-in;
	-moz-transition: all .1s ease-in;
	-o-transition: all .1s ease-in;
	transition: all .1s ease-in;
}

.course_prog_item h3 {
	padding: 20px 0;
	margin: 0;
}

.course_prog_item h3 span {
	float: right;
	font-weight: 600;
	font-size: 30px;
	margin: -10px 0 0 0;


}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes mymove {
    from {transform: rotateZ(0deg);}
    to {transform: rotateZ(360deg);}
}

@keyframes mymove {
    from {transform: rotateZ(0);}
    to {transform: rotateZ(360deg);}
}

.click_rotate {
	transition: .3s ease-in;
	-webkit-animation: mymove .2s linear infinite; /* Safari 4.0 - 8.0 */
    animation: mymove .2s linear infinite;
}




.course_prog_item div {
	height: auto;
	
	-webkit-transition: all .1s ease-in;
	-moz-transition: all .1s ease-in;
	-o-transition: all .1s ease-in;
	transition: all .1s ease-in;
}

.hidden_content {
	opacity: 0;
	height: 0 !important;
	
	-webkit-transition: all .1s ease-in;
	-moz-transition: all .1s ease-in;
	-o-transition: all .1s ease-in;
	transition: all .1s ease-in;
	color: #fff;
	font-size: 1px;
}