body{
	margin: 0;
	padding: 0;
	font-family: Tahoma, Arial;
}

::selection {
	color: #fff;
	background: #424242;
}

.no_padding {
	padding: 0 !important;
}

header {
	box-shadow: 0 0 37px 0 rgba(86,109,251,.1);
	background-color: transparent;
    background-image: linear-gradient(180deg,#efe9e9 0%,#fafafa 100%);
    border-style: solid;
    border-width: 1px 0;
    border-color: #dfe2ed;
    padding: 10px 0 !important;
    transition: .5s ease-in-out;
}

header nav, header nav ul {
	transition: .2s ease-in-out;
}

#starlance {
	border-radius: 50%;
	width: 80px;
	height: 80px;
	background: #014ad5;
	color: #fff;
	text-decoration: none;
	display: block;
	box-shadow: 0px 0px 15px 2px rgba(199,177,199,1);
	margin: 0 auto;
	transition: all .2s;
}

#starlance:hover {
	transition: all .2s;
	box-shadow: 0 2px 24px rgba(168, 175, 196, .5);
	transform: rotateZ(360deg) scale(1.3);
}

#starlance p {
	margin: 0;
	text-align: center;
	font-size: 10px;
	padding: 28px 0 0 0;
}

.nav_links {
	text-decoration: none;
	text-align: center;
	display: block;
	padding: 27px 0;
	font-size: 18px;
	border: 0 solid transparent;
	border-bottom-width: 1px;	
	border-top-width: 1px;	
	transition: .2 ease-in-out;
	color: #3A426D;
}

.nav_links:hover {	
	border-color: rgba(1, 74, 213, 0.5803921568627451);
	transition: .2 ease-in-out;
}

#header_info p:first-child {
	margin: 20px 0 0 0;
}

#header_info p {
	float: right;
	margin: 0;
	font-size: 12px;
	color: #424242;
}

#header_info a {
	font-size: 20px;
	text-decoration: none;
	color: #3A426D;
	font-weight: 600;
}

.slider_block {
	min-height: 400px; 
	margin-top: 15px;
    padding: 50px 20px 20px 20px;
    color: #dbd6ff;
    box-shadow: 2px 2px 20px rgba(0,0,0,.1);
    transition: .2s ease-in-out;
}

/* Gradients here ---->>>>   https://uigradients.com/#Frost */
.html_css  {
	background: #373B44; 
    background: -webkit-linear-gradient(to right, #4286f4, #373B44); 
    background: linear-gradient(to right, #4286f4, #373B44); 
}

.fzth{
	background: #FF0099; 
	background: -webkit-linear-gradient(to right, #493240, #FF0099); 
	background: linear-gradient(to right, #493240, #FF0099); 
}

.php {
	background: #C33764;  
	background: -webkit-linear-gradient(to right, #1D2671, #C33764);  
	background: linear-gradient(to right, #1D2671, #C33764); 
}

.javascript {
	background: #FFA17F;
	background: -webkit-linear-gradient(to right, #00223E, #FFA17F); 
	background: linear-gradient(to right, #00223E, #FFA17F); 
}
/* Gradients here ---->>>>   https://uigradients.com/#Frost */

.slider_block p {
	font-size: 13px;
}

.alert_text {
	color: #fff;
	font-weight: 600;
	margin: 0;
	border: 1px solid #ddd;
	display: inline;
	padding: 3px 15px;
	border-radius: 40px;
	background: #3e4670;
	font-size: 11px !important;
	cursor: pointer;
}

.alert_text:hover {
	background: ;
}

.slide_title {
	color: #fff;
	font-size: 40px;
	background: #212020;
}

#header_price .price {
	color: #fff;
	font-weight: 600;
	font-size: 35px;
}

#header_price .text {

}

#header_price .through {
	text-decoration:line-through;
	color: #ddd;
	font-size: 20px;
}

.next_slider_btn {
	position: absolute;
	top: 10%;
	right: 5%;
	background: #000;
	display: block;
	padding: 40px 20px 20px 20px;
	text-decoration: none;
	font-weight: 600;
	border-radius: 50%;
	font-size: 40px;
	border: 4px solid #1d1414;
	box-shadow: -2px 3px 18px 0px rgba(255,255,255,1);
	color: #424242;
	text-transform: uppercase;
	transition: .2s ease-in-out;
}

.next_slider_btn:hover {
	background: #212020;
	color: #fff;
	transition: .2s ease-in-out;
	cursor: pointer;
}

.club_widget {
	margin-top: 15px;
	border: 5px solid #2980b9;
	font-size: 13px;
	box-shadow: 2px 2px 20px rgba(0,0,0,.1); 
}

.club_widget h2 {
	color: #3A426D;
	font-weight: 600;
	font-size: 30px
}

.club_widget form input[type=text] {
	display: block;
	border: 3px solid #3A426D;
	padding: 10px;
	outline-color: #3A426D;
	font-size: 13px;
	width: 100%;
	margin: 0 auto;
	color: #212020;
}	

.club_widget form input[type=submit] {
	border: 2px solid transparent;
	margin: 10px 0 0 0;
	font-size: 15px;
	padding: 10px 15px;
	outline-color: #3A426D;
	border-radius: 10px;
	cursor: pointer;
	float: right;
	transition: .2s ease-in-out;
	background: #014AD5;
	color: #fff;
}

.order_now {
	position: absolute;
	text-decoration: none;
	display: block;
	color: #fff;
	font-weight: 600;
	bottom: 10%;
	right: 10%;
	background: #424242;
	padding: 5px 35px;
	border-radius: 30px;
	border: 1px solid #fff;
	text-align: left;
	font-size: 13px;
	transition: .2s ease-in-out;
}

.order_now:hover {
	background: transparent;
	padding: 5px 35px 5px 70px;
	transition: .2s ease-in-out;
	border-color: #ddd;
	box-shadow: -2px 3px 18px 0px rgba(255,255,255,1);
}


footer {
	background: #000428; 
	background: -webkit-linear-gradient(to right, #004e92, #000428); 
	background: linear-gradient(to right, #004e92, #000428); 
	box-shadow: 0px 0px 37px 0px rgba(86,109,251,.1);
	position: fixed;
	bottom: 0;
	color: #fff;
	text-align: center;
}

footer p:first-child{
	font-size: 10px;
	margin: 15px 0 0 0;
}

footer p:last-child {
	font-size: 9px;
}


/* Safari 4.0 - 8.0 */
@-webkit-keyframes zoom {
    from {transform: scale(.8) /*rotateZ(5deg)*/;}
    to {transform: scale(1) /*rotateZ(-5deg)*/;}
}

@keyframes zoom {
   	from {transform: scale(.8) /*rotateZ(5deg)*/;}
    to {transform: scale(1) /*rotateZ(-5deg)*/;}
}

.zoom_next_course_btn {
	transition: .5s ease-in;
	-webkit-animation: zoom .5s linear infinite; /* Safari 4.0 - 8.0 */
    animation: zoom .5s linear infinite;
}


.heart {
  background-color: red;
  display: inline-block;
  height: 30px;
  margin: 0 10px;
  position: relative;
  top: 0;
  transform: rotate(-45deg);
  width: 30px;
}

.heart:before,
.heart:after {
  content: "";
  background-color: red;
  border-radius: 50%;
  height: 30px;
  position: absolute;
  width: 30px;
}

.heart:before {
  top: -15px;
  left: 0;
  content: "⇨";
  transform: rotateZ(45deg);
  font-size: 25px;
  font-weight: 300;
  z-index: 999;
  line-height: 1.6;
  text-indent: 15px;
  color: #fff;
}

.heart:after {
  left: 15px;
  top: 0;
}