#hidden_menu_btn {
	text-align: center;
	margin: 20px 0 0 0;
	transition: .2s ease-in-out;
}

.important_display_block {
	display: block !important;
	transition: .2s ease-in-out;
}


@media only screen
and (min-device-width : 768px)
and (max-device-width : 991px)
and (-webkit-min-device-pixel-ratio: 1) {
		header {
		overflow: hidden;
	}

	#starlance {
	    width: 65px;
    	height: 65px;
	}

	#starlance p {
		font-size: 9px;
    	padding: 23px 0 0 0;
	}

	header nav a {
		display: none !important;;
	}

	#header_info a {
		font-size: 20px;
	}

	#header_info p {
		float: none;
		text-align: center;
	}

	.alert_text {
		font-size: 9px !important;
	}

	.slide_title {
		font-size: 25px;
	}

	.heart, .heart:after, .heart:before {
		width: 25px;
		height: 25px;
	}

	.heart:before {
		top: -15px;
		line-height: 1.4;
    	text-indent: 13px;
	}

	.heart:after {
		left: 15px;
		top: 0;
	}

	.next_slider_btn {
		padding: 25px 10px 12px 10px;
	}

	.slider_block p {
		font-size: 11px;
	}

	#header_price .through {
		font-size: 14px;
	}

	#header_price .price {
		font-size: 25px;
	}

	.order_now {
		position: inherit;
		text-align: center;
	}

	.club_widget {
		margin-bottom: 90px;
		border: none;
	}

	.club_widget h2 {
		font-size: 25px;
	}

	.club_widget form input[type=submit] {
		margin: 15px 0 30px 0;
		padding: 5px 50px;
	}

	#course_slide_header h1 {
		font-size: 30px;
	}

	#course_title_program {
		font-size: 35px;
	}

	.course_prog_item h3{
		text-align: center;
		font-size: 17px;
	}

	.course_prog_item h3 span{
		font-size: 21px;
		float: none;
    	display: block;
    	margin: 20px 0 0 0;
	}

	.course_prog_item ul {
		padding: 0 0 0 20px;
	}

	.course_prog_item ul li {
		margin: 0 0 15px 0;
		font-size: 14px;
	}

	#order_form input{
		border-radius: 10px;
	}

	.course_list_titles {
		text-align: center;
		font-size: 35px;
	}

	.course_item p {
	    font-size: 13px !important;
	    text-align: right;
	}

	.course_item a {
		display: block;
    	margin: 8px auto 0 0 !important;
    	width: 90%;
    	text-align: center;
	}

	#hidden_menu_btn {
		font-weight: 600;
   		font-size: 30px;
   		margin: 15px 0 0px 0;
   		color: #3E4670;
	}
}


@media only screen
and (min-device-width : 414px)
and (max-device-width : 736px) {

}


@media only screen
and (min-device-width : 375px)
and (max-device-width : 812px)
and (-webkit-device-pixel-ratio : 3) {

}


@media only screen
and (min-device-width : 375px)
and (max-device-width : 667px) {

}


@media only screen
and (min-device-width : 300px)
and (max-device-width : 568px) {

	header {
		overflow: hidden;
	}

	#starlance {
	    width: 65px;
    	height: 65px;
	}

	#starlance p {
		font-size: 9px;
    	padding: 23px 0 0 0;
	}

	header nav a {
		display: none !important;;
	}

	#header_info a {
		font-size: 20px;
	}

	#header_info p {
		float: none;
		text-align: center;
	}

	.alert_text {
		font-size: 9px !important;
	}

	.slide_title {
		font-size: 25px;
	}

	.heart, .heart:after, .heart:before {
		width: 25px;
		height: 25px;
	}

	.heart:before {
		top: -15px;
		line-height: 1.4;
    	text-indent: 13px;
	}

	.heart:after {
		left: 15px;
		top: 0;
	}

	.next_slider_btn {
		padding: 25px 10px 12px 10px;
	}

	.slider_block p {
		font-size: 11px;
	}

	#header_price .through {
		font-size: 14px;
	}

	#header_price .price {
		font-size: 25px;
	}

	.order_now {
		position: inherit;
		text-align: center;
	}

	.club_widget {
		margin-bottom: 90px;
		border: none;
	}

	.club_widget h2 {
		font-size: 25px;
	}

	.club_widget form input[type=submit] {
		margin: 15px 0 30px 0;
		padding: 5px 50px;
	}

	#course_slide_header h1 {
		font-size: 30px;
	}

	#course_title_program {
		font-size: 35px;
	}

	.course_prog_item h3{
		text-align: center;
		font-size: 17px;
	}

	.course_prog_item h3 span{
		font-size: 21px;
		float: none;
    	display: block;
    	margin: 20px 0 0 0;
	}

	.course_prog_item ul {
		padding: 0 0 0 20px;
	}

	.course_prog_item ul li {
		margin: 0 0 15px 0;
		font-size: 14px;
	}

	#order_form input{
		border-radius: 10px;
	}

	.course_list_titles {
		text-align: center;
		font-size: 35px;
	}

	.course_item p {
	    font-size: 13px !important;
	    text-align: right;
	}

	.course_item a {
		display: block;
    	margin: 8px auto 0 0 !important;
    	width: 90%;
    	text-align: center;
	}

	#hidden_menu_btn {
		font-weight: 600;
   		font-size: 30px;
   		margin: 15px 0 0px 0;
   		color: #3E4670;
	}
}