{% load static %}

<html lang="ru">
  <head>

    <!-- Facebook Pixel Code -->
    <script>
      !function(f,b,e,v,n,t,s)
      {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
      n.callMethod.apply(n,arguments):n.queue.push(arguments)};
      if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
      n.queue=[];t=b.createElement(e);t.async=!0;
      t.src=v;s=b.getElementsByTagName(e)[0];
      s.parentNode.insertBefore(t,s)}(window, document,'script',
      'https://connect.facebook.net/en_US/fbevents.js');
      fbq('init', '580827015692009');
      fbq('track', 'PageView');
    </script>
    <noscript><img height="1" width="1" style="display:none"
      src="https://www.facebook.com/tr?id=580827015692009&ev=PageView&noscript=1"
    /></noscript>
    <!-- End Facebook Pixel Code -->


    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  
    <title>{% block title %}{% endblock %}</title>

    <link rel="icon" type="image/png" href="{% static 'assets/img/logo.png' %}" />

    <link rel="stylesheet" href="{% static 'assets/libs/grid/grid.min.css' %}">
    

  </head>
  <body>

    {% include "header.html" %}

    {% block content %}{% endblock %}

    {% include "footer.html" %}

  
    {% block styles %}{% endblock %}
    
    {% block scripts %}{% endblock %}

  </body>
</html>