{% extends 'base.html' %}

{% load static %}

{% block title %} Обучение | StarLance School{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{% static 'assets/css/homepage.css' %}">
<link rel="stylesheet" href="{% static 'assets/css/course_detail.css' %}">
<link rel="stylesheet" href="{% static 'assets/css/media.css' %}">
<style>
	#course_list_main_block {
		background: #eee;
	}

	.course_list_titles {
		font-size: 40px;
		color: #3A426D;
	}

	.course_item h3 {
		margin: 0;
	}

	.course_item a {
		text-decoration: none;
		display: inline-block;
		margin: 0 10px 0 0;
		color: #212121;
		border-radius: 10px;
		padding: 5px 20px;
		border: 2px solid #ddd;
		float: right;
		font-size: 13px;
		transition: .2s ease-in-out;
	}

	.order_link {
		color: #fff !important;
	}

	.course_item a:hover {
		background: #fff;
		color: #212121 !important;
		transition: .2s ease-in-out;
	}

	.course_item p {
		font-size: 14px;
	}

	.course_item {
		padding: 7px 20px;
		overflow: hidden;
		border-radius: 10px;
		margin: 0 0 15px 0;
	}

	.course_item:last-child {
		margin: 0 0 100px 0;
	}

	.inner {
		background: #fff;
		overflow: hidden;
		border-radius: 10px;
		padding: 10px 25px 20px 25px ;
	}

	.inner h3 {
		font-size: 22px;
		color: #212121;
		text-align: center;
		margin: 25px 0 30px; 0;
	}

	

/*	.inner:hover {
		transition: .2s ease-in-out;
		background: transparent;
		color: #fff;
	}*/
</style>
{% endblock %}






{% block content %}
<div class="container-fluid no_padding" id="course_list_main_block">
	<div class="container ">

		<div class="row">
			<div class="col-lg-12">
				<h1 class="course_list_titles">Обучающие программы</h1>

				
				{% for course in courses %}

					{% if course.visible %}
					<div class="{{ course.css_class }} course_item">
						<div class="inner">
							
							<h3>{{ course.title }}</h3>
							

							<p>
								{{ course.description | safe }}
							</p>

							<a href="{% url 'course_detail' slug=course.slug %}#course_title_program">
								Программа курса
							</a>

							<a href="{% url 'course_order' course_slug=course.slug %}" class="{{ course.css_class }} order_link">
								Оставить заявку
							</a>
						</div>
					</div>
					{% endif %}
				
				{% endfor %}

				<!-- <h2 class="course_list_titles">Мастерклассы</h2>

				<div class="course_item">
					<a href="#">
						Реклама в FB
					</a>
				</div>

				<div class="course_item">
					<a href="#">
						Владелец бизнеса с сайтом
					</a>
				</div>

				<div class="course_item">
					<a href="#">
						Видео-монтаж для соц.сетей
					</a>
				</div>



				<h2 class="course_list_titles">Консультации</h2>

				<div class="course_item">
					<a href="#">
						Составления плана обучения
					</a>
				</div>
				
				<div class="course_item">
					<a href="#">
						Владелец бизнеса с сайтом
					</a>
				</div>
 -->
			</div><!--end col-lg-8-->


		</div><!--end row-->

	</div>
</div>
{% endblock %}