{% extends 'base.html' %}

{% load static %}

{% block title %} Заявка на курс: {{ course.title }} | StarLance School{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{% static 'assets/css/homepage.css' %}">
<link rel="stylesheet" href="{% static 'assets/css/course_detail.css' %}">
<link rel="stylesheet" href="{% static 'assets/css/media.css' %}">
<style>
	#order_block {
		margin: 15px 0 0 0;
		padding: 0 20px 50px 20px;
	}

	.slide_title {
		padding: 50px 0 50px 0;
		font-size: 30px;
		text-align: center;
	}

	#course_order_btn {
		text-align: center;
		font-size: 15px;
		margin: 20px 0 0 0;
	}

	#order_form {
		margin: 30px 0 30px 0;
	}

	#order_form input {
		padding: 25px; 
		box-shadow: none;
		border-color: #424242;
		font-size: 18px;
		text-align: center;
		border-top-width:  6px;
		border-bottom-width: 6px;
		border-left-width: 0;
	}
	#order_form input[name=name] {
		border-left-width: 1px;
		border-bottom-left-radius: 10px;
		border-top-left-radius: 10px;
		outline: none;
	}

	#order_form input[type=submit] {
		background: #212020;
		color: #fff;
		font-weight: 600;
		transition: .2s ease-in-out;
		border-bottom-right-radius: 10px;
		border-top-right-radius: 10px;
		outline: none;
	}

	#order_form input[type=submit]:hover {
		cursor: pointer;
		background: #424242;
		transition: .2s ease-in-out;
	}

	#order_main_block {
		background: #eee;
		overflow: hidden;
		/* height: 80vh; */
		padding-bottom: 150px !important;
	}

	#order_main_block p {
		font-size: 12px;
		text-align:center;
		color: #e0c4c4;
	}
</style>
{% endblock %}




{% block content %}
<div class="container-fluid no_padding" id="order_main_block">
    <div class="container">

		<div class="row">
			<div id="order_block" class="{{ course.css_class }} col-lg-12">
				<div class="row justify-content-center">

					<a id="course_order_btn" class="col-lg-2" href="{% url 'course_detail' slug=course.slug %}">
	                        вернутся к описанию
	                </a>

					<h1 class="slide_title col-lg-12">Заявка на курс: {{ course.title }}</h1>



					<form action="#" method="post" class="col-lg-12" id="order_form">
						<div class="row">
					        {% csrf_token %}
					        <input class="col-lg" name="name" type="text" placeholder="Ваше имя" required autofocus>
					        <input class="col-lg" name="mobile" type="text" placeholder="Мобильный номер" required>
					        <input class="col-lg" name="email" type="text" placeholder="Em@il" >
					        <input name="course" type="hidden" value="{{ course.pk }}">
					        <input class="col-lg-2" type="submit" value="Вперед!">
				        </div>
				    </form>

				    <p class="col-lg-12">
				    	Как только Вы отправите заявку мы сразу же об этом узнаем и <strong>максимально быстро</strong> свяжемся с Вами.
				    </p>

				    <p class="col-lg-12">
				    	Переданные Вами данные <strong>не попадут</strong> в руки третей стороны.
				    </p>
					
                </div>
			</div>

			

		    
		</div>

		

	   

	</div>
</div>

{% endblock %}