{% extends 'base.html' %}

{% load static %}

{% block title %} {{ course.title }} | StarLance School{% endblock %}


{% block styles %}
    <link rel="stylesheet" href="{% static 'assets/css/homepage.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/course_detail.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/media.css' %}">
{% endblock %}


{% block content %}

    <div class="container-fluid no_padding" id="course_main_block">
        <div class="container">

            <div class="row">
                <div class="col-lg-12 {{ course.css_class }}" id="course_slide_header">
                    <h1>
                        {{ course.title }}
                    </h1>

                    <br>

                    <a id="course_order_btn" href="{% url 'course_order' course_slug=course.slug %}">
                        Запишитесь на курсы
                    </a>

                </div><!--end col-lg-12-->
            </div><!--end row-->


            {# cool plates start #}
            <div class="row">
                <div class="col-lg-3">
                    <div class="course_header_items">
                        <p>Кол-во уроков:</p>
                        <span>{{ course.hours }}</span>
                    </div>

                </div>
                <div class="col-lg-3">
                    <div class="course_header_items">
                        <p>По итогам:</p>
                        <span>Сертификат</span>
                    </div>

                </div>
                <div class="col-lg-3">
                    <div class="course_header_items">
                        <p>Цена в группе:</p>
                        <span>{{ course.price_group }} грн.</span>
                    </div>

                </div>
                <div class="col-lg-3">
                    <div class="course_header_items">
                        <p>Цена индивидуально:</p>
                        <span>{{ course.price_person }} грн.</span>
                    </div>

                </div>
            </div>
            {# end row #}
            {# cool plates start #}

            <div class="row">

                <div class="col-lg-12">
                    <h2 id="course_title_program">Программа курса</h2>
                </div>

                {% for program_title in program_titles %}
                    <div class="col-lg-12">
                        <div class="course_prog_item">

                            <h3>{{ program_title.title }}<span>&#8691;</span></h3>

                            {% if program_title.description %}
                                <div class="hidden_content">
                                    <ul>
                                        {{ program_title.description | safe }}
                                    </ul>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            </div><!--row-->

        </div>
    </div>





{% endblock %}


{% block scripts %}
    <script src="{% static 'assets/libs/zepto/zepto.min.js' %}"></script>
    <script>

        $(window).on('load', function () {
            // get all course program items
            var course_prog_item = $('.course_prog_item');

            // open first course program item (accordion)
            course_prog_item.eq(0).find('div').removeClass('hidden_content');
            course_prog_item.eq(0).find('span').toggleClass('click_rotate');
            // opening end


            // add click listener for all course program items elements
            // adn add some css class for animate and pretty displaing
            $.each(course_prog_item, function () {
                var course_prog_item_context = $(this);
                $(this).find('h3').on('click', function () {
                    course_prog_item_context.find('div').toggleClass('hidden_content');
                    course_prog_item_context.find('span').toggleClass('click_rotate');
                });
            });
            // end listener

        });
    </script>
{% endblock %}