{% load static %}    
    <footer class="container-fluid no_padding">
        <p>
            Starlance School, курсы по веб-разработке. 2018
        </p>

        <p>
            ФЛП "Зеленчук Сергей Геннадьевич"
        </p>
    </footer>

    <style>
    	.noscroll {
		    position: fixed;
		    overflow: hidden;
		}

		#overlay {
		    display: none;
		    position: fixed;
		    width: 100%;
		    height: 100%;
		    top: 0;
		    left: 0;
		    right: 0;
		    z-index: 100;
		    background: #ffffff;
		}

		#spinner {
		    
		    border-radius: 50%;
		    width: 80px;
		    height: 80px;
		    background: #014ad5;
		    color: #fff;
		    text-decoration: none;
		    box-shadow: 0px 0px 15px 2px rgba(199,177,199,1);
		    margin: 0 auto;
		    transition: all .2s;



		    display: none;
		    position: fixed;
		    top: 50%;
		    left: 50%;
		    margin-top: -20px;
		    margin-left: -40px;
		    z-index: 101;
		   /* background-color: #3498db;*/

		    -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
		    animation: sk-rotateplane 1.2s infinite ease-in-out;
		}

		@-webkit-keyframes sk-rotateplane {
		    0% { -webkit-transform: perspective(120px) }
		    50% { -webkit-transform: perspective(120px) rotateY(180deg) }
		    100% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg) }
		}

		@keyframes sk-rotateplane {
		    0% {
		        transform: perspective(120px) rotateX(0deg) rotateY(0deg);
		        -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg)
		    } 50% {
		        transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
		        -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg)
		    } 100% {
		        transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
		        -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
		    }
		}
    </style>

    <div id="overlay"></div>

	<div id="spinner"></div>

<script src="{% static 'assets/libs/zepto/zepto.min.js' %}"></script>
<script>
		
		$(document.body).attr("class", "noscroll");
	    $("#spinner").show();
		$("#overlay").show();

	    $(window).on('load', function(){

	    	/* w8 1000 and hide preloader */
            setTimeout(function(){
				$("#spinner").hide();
		        $("#overlay").hide();

		        document.body.className = document.body.className.replace(/\bnoscroll\b/,'');

		        menu_hidden_btn_action();
			}, 1000);
			/* w8 1000 and hide preloader END */


			function menu_hidden_btn_action() {
				var hidden_menu_btn = $("#hidden_menu_btn");
			    var nav_links = $(".nav_links");

			    hidden_menu_btn.on('click', function() {

			    	if ( $(this).hasClass('open') ) {
						$(this).html("&#9776;").removeClass('open');
			    	} else {
			    		$(this).html("&#8212;").addClass('open');
			    	}

			    	$.each(nav_links, function () {
			    		$(this).toggleClass('important_display_block');
			    	});

			    });
			} /* end menu_hidden_btn_action() */


        }); /* end document ready */
</script>