    <header class="container-fluid">
        <div class="container no_padding">

            <div class="row justify-content-center">                

                <div class="col-lg-2 col-6 col-md-6">
                    <a id="starlance" href="{% url "homepage" %}">
                        <p>
                            starlance<br>school
                        </p>
                    </a>
                </div>

                <div class="col-6 col-md-6  d-block d-lg-none" id="hidden_menu_btn">
                    &#9776;
                </div>

                <nav class="col-lg-7">
                    <div class="row">
                        <a href="{% url 'courses_list' %}" class="col-lg-4 nav_links">Обучение</a>
                
                        {# <a href="#" class="col-lg-4 nav_links">О школе</a> #}

                        {# <a href="#" class="col-lg-4 nav_links">Старлансеры</a> #}
                    </div>
                </nav>

                <div class="col-lg-3" id="header_info">

                    <p>
                        <a href="tel:+380501872705">+38 (050) 18-72-705</a>
                    </p>

                    <p>
                        &starf; Время работы, с 10:00 до 20:00 &starf;
                    </p>

                </div>

            </div><!--end row-->

        </div><!--end container-->
    </header><!--end header-->