{% extends 'base.html' %}

{% load static %}

{% block title %}Курсы по веб-разработке в Херсоне | StarLance School{% endblock %}



{% block styles %}
<link rel="stylesheet" href="{% static 'assets/css/homepage.css' %}">
<link rel="stylesheet" href="{% static 'assets/css/media.css' %}">
{% endblock %}



{% block content %}

    <div class="container-fluid no_padding">
        <div class="container">

            <div class="row">

                <div class="col-lg-8" id="slider_main_block">
                    {# JS rendering here #}
                </div><!--end col-lg-8-->

                <div class="col-lg-4 club_widget" 
                    style='background: url("{% static "assets/img/pattern.png" %}") center 45%/55%;' 
                >
                    <div>
                        <h2>Хотите стать веб-разработчиком?</h2>
                        <p>
                            Мучают сомнения? Правильный ли вы делаете выбор? Получится или нет?
                        </p>

                        <p>
                            Специально для этого, мы записали для вас урок (скринкаст) пройдя который Вам будет проще ответить на все смущающие вас вопросы.
                        </p>

                        <p>Подпишитесь на нашу рассылку:</p>

                        <form action="#" method="post">
                            {% csrf_token %}
                            <input name="email" type="text" placeholder="Em@il" required>
                            <input type="submit" value="Подписаться">
                        </form>

                        {% if subscriber %}
                            <p>
                                Вы уже подписаны
                            </p>
                        {% endif %}
                    </div>                
                </div><!--end col-lg-4-->

            </div><!--end row-->

            
           

        </div>
    </div>
{% endblock %}{# end block content #}



{% block scripts %}    
<script src="{% static 'assets/libs/zepto/zepto.min.js' %}"></script>

<script>
/* zepto js */

/* document ready */

var slider_block = $('#slider_main_block');

slider_block.css({ "right": -100 });

$(window).on('load', function(){

    var my_counter = 0;
    var courses = null;
    var get_url = "/api/get_all_courses?nocache=" + new Date().getTime(); // fix for safari
    

    $.ajax({
        type: 'GET',
        url: get_url,
        dataType: 'json',
        timeout: 400,
        context: $('body'),
        success: function(data){
            render_course_block(my_counter, data);
            slider_block.css({ "right": 0 });
        },
        error: function(xhr, type){
            console.log('api error!')
        }
    })


    function render_course_block (my_counter, courses) {
        var output = "";

        output = '<div class="slider_block ' + courses[my_counter].fields.css_class+ '">';
        output += '<p class="alert_text">Идет набор на обучение</p>';
        output += '<h2 class="slide_title">' + courses[my_counter].fields.title;
        output += '</h2>' + courses[my_counter].fields.description;

        output += '<p id="header_price"><span class="text"><strong>Цена обучения:</strong></span><br>';
        output += '<span class="through">' + courses[my_counter].fields.through_price_person + ' грн</span>&nbsp;';
        output += '<span class="price">' + courses[my_counter].fields.price_person + ' грн</span></p>';

        output += '<div id="next_btn" class="next_slider_btn zoom_next_course_btn" href="#">';
        output += '<span class="heart"></span></div>';

        output += '<a class="order_now" href="courses/' + courses[my_counter].fields.slug;
        output += '">подробнее</a></div>';


        slider_block.html(output);

        // get current id next_btn
        var next_btn = $('#next_btn');

        // listen click event and change course by click on heart
        next_btn.on('click', function(e){
            e.preventDefault();
            my_counter++;
            if (my_counter >= courses.length) {my_counter = 0;}
            render_course_block(my_counter, courses);
        });

    }/* render_course_block END function */

    
});/* document ready END */
/* zepto js */
</script>

{% endblock %} {# end block scripts #}