{% load static %}

<!DOCTYPE html>
<html lang=ru>
<head>
    <meta name=google-site-verification content=gigtgy6-3l55yerx68jlYjQXOXQyMpBD9TRm8ZdaiGg>
    <meta charset=utf-8>
    <meta http-equiv=X-UA-Compatible content="IE=edge">
    <meta name=viewport content="width=device-width,initial-scale=1">
    <link rel=icon href={% static 'frontend/favicon.ico'%}>
    <title>Курсы по веб-разработке в Херсоне | StarLance School</title>
    <meta name=description content="Starlance School - авторские курсы по веб-разработке. Зеленчук
    Сергей, практикующий веб-разработчик и преподаватель. Более 100 выпускников">
    <link href={% static 'frontend/css/app.c715aaab.css'%} rel=preload as=style>
    <link href={% static 'frontend/css/chunk-vendors.72d603a6.css'%} rel=preload as=style>
    <link href={% static 'frontend/js/app.feb90cc4.js'%} rel=preload as=script>
    <link href={% static 'frontend/js/chunk-vendors.da0673b6.js'%} rel=preload as=script>
    <link href={% static 'frontend/css/chunk-vendors.72d603a6.css'%} rel=stylesheet>
    <link href={% static 'frontend/css/app.c715aaab.css'%} rel=stylesheet>
</head>
<body>
<noscript><strong>We're sorry but starlance_vue doesn't work properly without JavaScript enabled. Please enable it to
    continue.</strong></noscript>
<div id=app></div>
<script src={% static 'frontend/js/chunk-vendors.da0673b6.js'%}></script>
<script src={% static 'frontend/js/app.feb90cc4.js'%}></script>
</body>
</html>