{% extends "base.html" %}
{% load static %}

{% block title %}

{% if subscriber %}Благодарим за подписку!{% else %}Заявка отправлена{% endif %} | StarLance School{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{% static 'assets/css/homepage.css' %}">
<link rel="stylesheet" href="{% static 'assets/css/course_detail.css' %}">
<link rel="stylesheet" href="{% static 'assets/css/media.css' %}">
<style>
.heart_block {
    background: #fff;
    width: 100px;
    display: block;
    padding: 40px 20px 20px 20px;
    text-decoration: none;
    font-weight: 600;
    border-radius: 50%;
    font-size: 40px;
    border: 0px solid #1d1414;
    box-shadow: -2px 3px 18px 0px rgba(255,255,255,1);
    color: #424242;
    text-transform: uppercase;
    transition: .2s ease-in-out;
    margin: 0 auto;
}

.heart:before {
    content: '' !important;
}

h1 {
    text-align: center;
    margin: 140px 0 0 0 ;
}

#go_homepage {
    text-decoration: none;
    text-align: center;
    display: block;
    color: #424242;
    margin: 10px 0 150px 0;
}
</style>
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="container">
            
            {% if subscriber %}
                <h1>Благодарим за подписку!</h1>
            {% else %}    
                <h1>Благодарим за заявку!</h1>

                <script>
                    // facebook magic
                    fbq('track', 'Lead');
                </script>
            {% endif %}
            
            <div id="next_btn" class="heart_block zoom_next_course_btn">
                <span class="heart"></span>
            </div>

            <a id="go_homepage" href="{% url 'homepage' %}">На главную страницу</a>

        </div>
    </div>               


{% endblock %}